<mjml >
    <mj-head>
        <mj-title>Un candidat souhaite être contacté</mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline" background-color="#F9F8F6">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #206BC4;}, body{background: #F9F8F6; }

        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body  box-shadow="0px 0px 24px rgba(30, 30, 30, 0.24)">
        <mj-section >
            <mj-column padding="0px" vertical-align="middle" width="50px"  >
                <mj-image padding="0px" src="<%= data.images.message %>" alt="" />
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="300px" >
                <mj-text padding="0px" font-size="22px" font-weight="700"  color="#383838" line-height="26.63px" text-decoration="none" padding-left="1rem">
                    Un candidat
                </mj-text>
                <mj-text padding="0px" font-size="22px" font-weight="700" line-height="26.63px" text-decoration="none" color="#3A55D1" padding-left="1rem">souhaite être contacté !</mj-text>
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="150px" >
                <mj-image padding="0px"  src="<%= data.images.people %>" alt="" />
            </mj-column>
        </mj-section>
        <mj-wrapper padding="0px" padding-bottom="50px">
            <mj-section background-color="#ffffff" padding-top="60px">
                <mj-column width="420px">
                    <mj-text padding-bottom="20px" color="#3A55D1" font-size="20px" font-weight="700">
                        Bonjour,
                    </mj-text>
                    <mj-text padding-bottom="20px" font-weight="700" font-size="16px">
                        Le ou la candidate <%= data.user.firstname %> <%= data.user.lastname %> souhaiterait être contacté au <br />
                        <b><a href="tel:<%= data.user.phone %>" color="#3A55D1"><%= data.user.phone %></a></b> ou par email
                        <b><a href="mailto:<%= data.user.email %>" color="#3A55D1"><%= data.user.email %></a></b> sous 48h concernant:
                    </mj-text>
                    <mj-text padding-bottom="20px">
                        Il ou elle souhaite aborder avec vous le(s) sujet(s) suivant : “frais <br />
                        d’inscription et du test suivant”<br />
                        à propos de la formation : <%= data.etablissement.name %>
                    </mj-text>
                    <mj-text padding-bottom="20px" font-weight="italic">
                        L'équipe de la Mission apprentissage
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff">
                <mj-column width="70%">
                    <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="11px" padding-bottom="10px" />
                    <mj-text padding="0px" padding-bottom="20px">
                        Cette demande a été réalisée via <a href="<%= data.appointment.referrerLink %>"><%= data.appointment.referrer %></a>.
                    </mj-text>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
