<mjml>
    <mj-head>
        <mj-title>Nous allons vous rappeler</mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #F9F8F6;}
            a.purple {color: #3A55D1; text-decoration: none}
        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#F9F8F6">
        <mj-section padding-bottom="0px">
            <mj-column padding="0px" vertical-align="middle" width="50px">
                <mj-image padding="0px" src="<%= data.images.message %>" alt="Message" />
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="400px">
                <mj-text padding="0px" font-size="22px" font-weight="700" color="#383838" line-height="26px" text-decoration="none" padding-left="1rem">
                    Un candidat
                </mj-text>
                <mj-text padding="0px" font-size="22px" font-weight="700" line-height="26.63px" text-decoration="none" color="#3A55D1" padding-left="1rem">souhaite être contacté !</mj-text>
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="150px">
                <mj-image padding="0px" src="<%= data.images.people %>" alt="Figure" />
            </mj-column>
        </mj-section>
        <mj-wrapper padding="0px">
            <mj-section background-color="#ffffff" padding-top="65px">
                <mj-column width="420px">
                    <mj-text padding-bottom="32px" font-size="20px" padding="0px" font-weight="700" line-height="24px" text-decoration="none" color="#3A55D1">
                        Bonjour,
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px" font-weight="700">
                        Le ou la candidate <%= data.user.firstname %> <%= data.user.lastname %> souhaite être contacté
                        au <a href="tel:<%= data.user.phone %>" class="purple"><%= data.user.phone %></a>
                        ou par mail à l'adresse <a href="mailto:<%= data.user.email %>" class="purple"><%= data.user.email %></a> sous 48h.</mj-text>
                    <mj-text font-size="16px" line-height="20px" padding-top="20px">
                        Il ou elle souhaite aborder avec vous le(s) sujet(s) suivant :
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px" padding="0px"><%= data.user.motivations %></mj-text>
                    <mj-text font-size="16px" line-height="20px" padding-top="40px">
                        Formation: <%= data.formation.intitule %>
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px">
                        Centre de formation concerné :
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" padding-top="0px">
                <mj-column vertical-align="top" width="420px">
                    <mj-text font-size="16px" line-height="20px" padding-bottom="5px">
                        <%= data.etablissement.name %>
                    </mj-text>
                    <mj-text font-size="16px" line-height="20px">
                        <%= data.etablissement.address %>
                        <br>
                        <%= data.etablissement.postalCode %> <%= data.etablissement.ville %>
                    </mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" padding-top="10px">
                <mj-column width="420px" padding-top="2px">
                    <mj-text font-size="16px" line-height="20px" padding-top="32px">A très bientôt,</mj-text>
                    <mj-text font-size="16px" line-height="20px" padding="0px">L'équipe de la <a href="https://mission-apprentissage.gitbook.io/general/les-services-en-devenir/prise-de-rendez-vous/vous-etes-un-cfa-et-vous-souhaitez-activer-le-service-mode-demploi">Mission apprentissage</a></mj-text>
                </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" padding-top="10px">
                <mj-column width="420px" padding-top="2px">
                    <mj-section background-color="#ffffff">
                        <mj-column width="420px">
                            <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0px" padding-bottom="16px" />
                            <mj-text padding="0px">
                                Si vous avez des questions ou si vous souhaitez vous désinscrire du service, envoyez un email à <a href="mailto:rdv_apprentissage@apprentissage.beta.gouv.fr">rdv_apprentissage@apprentissage.beta.gouv.fr</a>.
                            </mj-text>
                            <mj-text padding="0px" padding-bottom="20px">
                                Cette demande a été réalisée sur le site <a href="<%= data.appointment.referrerLink %>"><%= data.appointment.referrer %></a>.
                            </mj-text>
                        </mj-column>
                    </mj-section>
                    <mj-section background-color="#ffffff" padding="0px">
                        <mj-column width="420px">
                            <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0px" padding-bottom="10px" />
                            <mj-text padding="0px" padding-bottom="20px">
                                Un outil développé par <a href="https://mission-apprentissage.gitbook.io/general/">la mission nationale pour l'apprentissage</a>.
                            </mj-text>
                        </mj-column>
                    </mj-section>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
