<mjml>
    <mj-head>
        <mj-title>Nous allons vous rappeler</mj-title>
        <mj-font name="Public Sans"
                 href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,400;0,600;0,900;1,400" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #206BC4;}, body{background: #F9F8F6;}
        </mj-style>
        <mj-attributes>
            <mj-text padding="0px" color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider padding="0px" />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#F9F8F6">
        <mj-section >
            <mj-column padding="0px" vertical-align="middle" width="50px"  >
                <mj-image padding="0px" src="<%= data.images.message %>" alt="" />
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="400px" >
                <mj-text padding="0px" font-size="22px" font-weight="700"  color="#383838" line-height="26.63px" text-decoration="none" padding-left="1rem">
                    Le centre de formation
                </mj-text>
                <mj-text padding="0px" font-size="22px" font-weight="700" line-height="26.63px" text-decoration="none" color="#3A55D1" padding-left="1rem">à bien reçu votre demande de RDV !</mj-text>
            </mj-column>
            <mj-column padding="0px" vertical-align="middle" width="150px" >
                <mj-image padding="0px"  src="<%= data.images.people %>" alt="" />
            </mj-column>
        </mj-section>

        <mj-wrapper padding="0px" padding-bottom="50px">
            <mj-section background-color="#ffffff"  padding-top="60px">
                <mj-column width="420px">
                    <mj-text padding-bottom="20px" padding="0px" font-size="22px" font-weight="700" line-height="26.63px" text-decoration="none" color="#3A55D1">
                        Bonjour
                        <%= data.user.firstname %>
                        <%= data.user.lastname %>,
                    </mj-text>
                    <mj-text>
                        Merci de votre intérêt pour la formation <%= data.formation.intitule %> de notre établissement.
                    </mj-text>
                    <mj-text><b>Nous vous rappellerons au <%= data.user.phone %> dans les prochaines 48h.</b></mj-text>
                    <mj-text padding-top="20px">
                        A très bientôt !
                    </mj-text>
            </mj-section>
        </mj-column>
            </mj-section>
            <mj-section background-color="#ffffff" padding-top="0px">
                <mj-column width="420px">
                    <mj-text font-style="italic">
                        L'équipe de l’établissement :</mj-text>
                    <mj-section >
                        <mj-column padding="0px" vertical-align="middle" width="20px">
                            <mj-image  padding="0px" src="<%= data.images.map %>" alt="" />
                        </mj-column>
                        <mj-column padding="0px" padding-left="3px" vertical-align="middle" width="400px">
                            <mj-text font-size="14px" line-height="16px">
                                <b><%= data.etablissement.name %></b>
                            </mj-text>
                        </mj-column>
                        <mj-column width="400px">
                            <mj-text font-size="12px">
                                <%= data.etablissement.address %>

                                <%= data.etablissement.postalCode %> <%= data.etablissement.ville %>
                            </mj-text></mj-column>
                                    <mj-column width="420px">
                    <mj-section background-color="#ffffff">
                        <mj-column width="420px">
                            <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0px" padding-bottom="10px" />
                            <mj-text padding="0px" padding-bottom="20px">
                                Cette demande a été réalisée via <a href="<%= data.appointment.referrerLink %>"><%= data.appointment.referrer %></a>.
                            </mj-text>
                            <mj-text>
                                Vous souhaitez modifier ou annuler cette demande ?
                            </mj-text>
                            <mj-text>Envoyez un email à
                                <a href="mailto:<%= data.etablissement.email %>">
                                    <%= data.etablissement.email %>
                                </a>
                            </mj-text>
                        </mj-column>
                    </mj-section>
                </mj-column>
            </mj-section>
        </mj-wrapper>
    </mj-body>
</mjml>
