<mjml>
    <mj-head>
        <mj-title>Un candidat souhaite être contacté</mj-title>
        <mj-font name="Inter" href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'" />
        <mj-style inline="inline">
            a:link,a:visited, a:hover, a:active {color: #206BC4;}, a {color: #3A55D1;}, body{background: #F9F8F6;}
            .purple {color: #3A55D1; text-decoration: none}
        </mj-style>
        <mj-attributes>
            <mj-text color="#232E3C" font-family="Inter,sans-serif" font-size="14px" line-height="23px" />
            <mj-divider />
        </mj-attributes>
    </mj-head>
    <mj-body background-color="#F9F8F6">
        <mj-section padding-top="20px" padding-bottom="0">
            <mj-column vertical-align="middle" width="380px">
                <mj-text font-size="22px" font-weight="700" color="#383838" line-height="26px" text-decoration="none" align="left" padding="0" padding-top="30px">
                    Un candidat
                </mj-text>
                <mj-text font-size="22px" font-weight="700" line-height="26.63px" text-decoration="none" color="#3A55D1" align="left" padding="0">souhaite être contacté !</mj-text>
            </mj-column>
            <mj-column vertical-align="middle" width="220px" padding-right="20px" padding-top="30px" padding-bottom="0">
                <mj-image src="<%= data.images.peopleLaptop %>" alt="Figure" padding-bottom="0" />
            </mj-column>
        </mj-section>
        <mj-section background-color="#ffffff" padding-top="45px" padding-bottom="0">
            <mj-column width="480px">
                <mj-text padding-bottom="32px" font-size="20px" font-weight="700" line-height="24px" text-decoration="none" color="#3A55D1">
                    Bonjour,
                </mj-text>
                <mj-text font-size="16px" line-height="20px" font-weight="700">
                    Le ou la candidate <%= data.user.firstname %> <%= data.user.lastname %> souhaite être contacté(e).
                </mj-text>
                <mj-button color="#FFFFFF" width="100%" border-radius="8px" background-color="#3A55D1" border="0.5px solid #3A55D1" font-size="16px" href="<%= data.appointment.link %>">
                    Voir les coordonnées du candidat
                </mj-button>
                <mj-text font-size="16px" line-height="20px" padding-top="20px">
                    Il ou elle souhaite aborder avec vous le(s) sujet(s) suivant :
                </mj-text>
                <mj-text font-size="16px" line-height="20px">"<%= data.user.motivations %>"</mj-text>

                <mj-text font-size="16px" line-height="20px" padding-top="0">
                    à propos de la formation : <b><%= data.formation.intitule %></b>
                </mj-text>
                <mj-text font-size="16px" line-height="20px" padding-top="0">
                    dispensée par :
                    <b><%= data.etablissement.name %></b>, <%= data.etablissement.address %>, <%= data.etablissement.postalCode %> <%= data.etablissement.ville %>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#ffffff" padding-top="0" padding-bottom="0">
            <mj-column width="480px">
                <mj-text font-size="16px" line-height="20px" padding-top="15px">A très bientôt, <br/>
                    <i>L'équipe de la Mission apprentissage</i></mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#ffffff">
            <mj-column width="480px">
                <mj-divider border-width="0.5px" border-style="solid" border-color="#D0C9C4" padding-top="0" padding-bottom="25px" />
                <mj-text padding-bottom="15px">
                    Si vous avez des questions ou si vous souhaitez vous désinscrire du service, envoyez un email à <a href="mailto:rdv_apprentissage@apprentissage.beta.gouv.fr">rdv_apprentissage@apprentissage.beta.gouv.fr</a>.
                </mj-text>
                <mj-text padding-top="15px">
                    Cette demande a été réalisée sur le site <a href="<%= data.appointment.referrerLink %>"><%= data.appointment.referrer %></a>.
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section background-color="#f9f8f6">
            <mj-column width="480px">
                <mj-text padding-top="20px" padding-bottom="20px" align="center">
                    <b>RDV Apprentissage</b> est un outil développé <br/>
                    par la <a href="https://mission-apprentissage.gitbook.io/general/">Mission interministérielle pour l’apprentissage</a>
                </mj-text>
            </mj-column>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
